[defaults]
# 基本设置
inventory      = ./inventories/local/inventory.ini
roles_path     = ./roles:./external_roles
host_key_checking = False
timeout        = 30

# 性能优化
# 默认只收集一次 Facts，除非强制要求
# 它会把扫描到的系统信息（比如你是 RedHat 还是 Debian）存本地 24 小时。下次运行直接秒开。
gathering      = smart
fact_caching   = jsonfile
fact_caching_connection = ./.ansible_cache
fact_caching_timeout = 86400

# 输出美化
stdout_callback = default
result_format  = yaml
bin_ansible_callbacks = True

# 解决你之前的弃用警告
# deprecation_warnings = False
# inject_facts_as_vars = False

[ssh_connection]
# 大幅提升执行速度,它能减少 SSH 连接的次数，直接在内存中执行脚本，而不是反复往返拷贝临时文件。
pipelining = True
# 解决 sudo 切换时的某些连接问题
control_path = /tmp/ansible-ssh-%%h-%%p-%%r